<h1 align="center">All articles</h1>
<!--TODO: remove this link or u se it later -->
<%#= link_to "Create a new article", new_article_path, :class => "btn btn-primary" %>
<div class="container">
  <%= render 'article', obj: @articles %>
  <div class="centered">
    <%= will_paginate renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>