<% if obj.errors.any? %>
<div id="form-alerts">
    <div class="alert alert-danger">
      <div class="alert-heading">
        <h2>
          <%= pluralize(obj.errors.count, "error") %>,
          This article could not be saved!
        </h2>
        <div class="mb-0">
          <ul>
           <% obj.errors.full_messages.each do |msg| %>
            <li><%= msg%></li>
            <% end%>
          </ul>
        </div>
      </div>
    </div>
  </div> 
<% end %>