<div class="jumbotron">
  <div class="container">
    <h1> about page</h1>
      <%= link_to 'Home', pages_home_path, :class => "btn btn-light"%>

    <button class="btn btn-primary btn-large">
      Is bootstrap working?
    </button>
  </div>
</div>
