<div class="jumbotron">
  <div class="container">
    <h1> about page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nam itaque molestiae saepe, voluptatem aliquid distinctio expedita voluptas eius similique ipsam, consequuntur maiores animi id voluptatibus atque deserunt amet impedit!
    </p>

    <%= link_to 'Home', root_path, :class => "btn btn-light"%>
    <%= link_to 'Create an article', new_article_path, :class => "btn btn-primary"%>
  </div>
</div>
