<div class="jumbotron">
  <div class="container">
    <div class="jumbotron-title">
      <p> About page</p>
      <p>Hello world</p>  
      <%= link_to 'Home', root_path, :class => "btn btn-light card-link"%>
      <%= link_to 'Create an article', new_article_path, :class => "btn btn-primary card-link"%>
    </div>
    </div>
  </div>
</div>
