<div class="jumbotron">
  <div class="container">
    <div class="jumbotron-title">
      <p>Blogs on Rails</p>
      <p>Create a new Blog!</p>
      <%= link_to 'Sign up', signup_path, :class => "btn btn-light btn-lg card-link" %>
    </div>
  </div>
</div>
