<div class="jumbotron">
  <div class="container">
    <h1> Home page</h1>
      <%= link_to 'About', about_path, :class => "btn btn-light"%>
    <button class="btn btn-primary btn-large">
      Is bootstrap working?
    </button>
  </div>
</div>