@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//   logo / navbar
 #logo {
  transition: 0.2s ease-in;
  font-weight: 800;
  color: #fafafa;
  &:hover {
    transition: 0.2s ease-in;
    transform: scale(1.04);
    color: darken($color: #fafafa, $amount: 20);
  }
 }

// jumobotron
 .jumbotron {
    height: 95vh;
    width: 100%;
    background: asset-url('rails.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    border-radius: 0px;
    @media (min-width: 768px) {
      height: 800px;
    }
    &-title {
      margin-top: 100px;
      font-size: 2em;
      @media (min-width: 768px) {
        font-size: 3em;
      }
    }
    .container {
      color: #fafafa;
      display: flex;  
      justify-content: center;
      height: 400px;
    }
 }

// footer
 .footer {
   text-align: center;
   background-color: rgb(207, 207, 207);
   padding: 20px 0px;
   a {
     color: rgb(39, 39, 39);
     &:visited {
       color: rgb(39, 39, 39);
     }
   }
   ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0px;
    margin: 0px;
    li {
      text-align: center;
      margin: 0px 2%;
    }
   }
 }

// form stuff
 #form {
   max-width: 600px;
   .form-buttons {
     display: flex;
    justify-content:space-between;
   }
 }

 #form-alerts {
   margin: auto;
   opacity: 0.9;
   @media (min-width: 768px) {
    width: 550px;
   }
   transition: 0.7 ease-in;
   animation: 0.7s formAlert forwards;
   opacity: 0;
 }
 @keyframes formAlert {
   0% {
    transform: translateY(-100px);
   }
   100% {
     transform: translateY(0px);
     opacity: 1;
   }
 }

 // for individual articles
.article {
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  &-actions {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
    a {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  &-card {
    padding: 5px;
  }
  &-title {

  }
  &-body {

  }

}

// i don't know why and this isn't a css-related project
// so I can't be bothered to fix it properly
html, body {
  overflow-x: hidden;
}