// TODO: add styles to make meta-details look nicer
.article {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 600px;
  width: 95%;
  &-wrapper {
    display: flex;
    justify-content: center;

  }
  &-actions {
    //display: flex;
    //justify-content: flex-start;
    //flex-wrap: wrap;
    a {
      margin-right: 10px;
      margin-bottom: 10px;
    }
  }
  &-title {
    font-size: 1.5em;
    font-weight: 800;
    color: #373737;
    a {
      color: #2E2F30;
      &:visited {
        color: #2E2F30;
      }
    }
  }
  &-body {
    font-weight: 400;
    padding: 10px;
  }
  &-meta-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-top: 1px solid #eaeaea;
    margin: 10px 0;
    color: black;
    font-weight: 400;
    opacity: 0.8;
    small {
      margin: 5px 0;
    }
  }
  &-checkbox {
    margin-right: 10px;
  }
}