#logo {
  transition: 0.2s ease-in;
  font-weight: 800;
  color: #292929;
  &:hover {
    transition: 0.2s ease-in;
    transform: translateY(-2px);
    color: darken($color: #292929, $amount: 20);
  }
}
