.signup {
  margin-top: 50px;
}

.gravatar {
  display: flex;
  justify-content: center;

}

.listing {
  margin-bottom: 20px;
  &-inner {
    padding: 5px;
    list-style: none;
    margin-bottom: 0;
  }
}