<h1 align="center"> Listing All Categories</h1>
<div class="categories-wrapper container">
  <% @categories.each do |category| %>
    <div class="card categories">
      <div class="card-header">
        <%= link_to "#{category.name}", category_path(category) %>
      </div>
      <div class="card-subtitle bg-light">
        <small><%= pluralize(category.articles.count, "article") %></small>
      </div>
    </div>

  <% end %>

  <div class="centered">
    <%= will_paginate %>
  </div>
</div>
