<h1 align="center"> Listing All Categories</h1>
<div class="categories-wrapper container">
  <% @categories.each do |category| %>
    <div class="card categories">
      <%= link_to "#{category.name}", category_path(category) %>
    </div>
  <% end %>
  <div class="centered">
    <%= will_paginate %>
  </div>
</div>
